* {
  box-sizing: border-box;
}

:root {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #fff;
}

#root {
  width: 100%;
}

button {
  font-family: inherit;
}
